{% extends "skeleton.html" %}

{% block title %}
	Welcome to something new
{% endblock %}

{% block main %}

	<div id="info-section" class="section startup-closed">
		<h3 class="section-title"><a href="#">What's all the buzz about?</a></h3>
		<div class="section-content">
			Il <b>10 Agosto 2008</b> il più ampio e noto tracker di file torrent, <b>The Pirate Bay</b>, viene <b>bloccato</b> in tutta l’Italia a causa di un ordine annunciato dalla procura di Bergamo. Poichè il file sharing è sempre stato e sarà sempre una fonte fondamentale per la condivisione di contenuti multimediali e di sua natura <b>assolutamente legittima</b> ritengo che sia nostro dovere <b>riprenderci i nostri diritti</b>.</br></br>The Italian Bay è la rivincita sui nostri diritti di libertà di espressione, comunicazione nonchè un autentico gesto d’amore, e sta a noi condividerla con il mondo.</br></br>

			The Italian Bay è, in primis, un <b>mirror</b> del famigerato tracker svedese, ma è anche una miniera d’oro per i nostri sviluppatori poichè include una <b>semplicissima ed efficace API</b> per la ricerca e il download di file torrent.</br></br>
		</div>
	</div>

	<div id="search-section" class="section">
		<h3 class="section-title"><a href="#">Search</a></h3>
		<div class="section-content">
			<form id="search-form" action="/requestResultsForValue" method="get" accept-charset="utf-8">
				<label for="value">Search For:</label><input id="search-field" type="text" name="value" value="" id="value">
				<input type="submit" value="Search">
				<div id="filter-field">
					<input type="checkbox" name="filter" value="audio" id="audio"><label for="audio">Audio</label>
					<input type="checkbox" name="filter" value="video" id="video"><label for="video">Video</label>
					<input type="checkbox" name="filter" value="applications" id="applications"><label for="applications">Applications</label>
					<input type="checkbox" name="filter" value="games" id="games"><label for="games">Games</label>
					<input type="checkbox" name="filter" value="others" id="others"><label for="others">Others</label>
				</div>
			</form>
		</div>
	</div>
	
	<div id="top-100-section" class="section">
		<h3 class="section-title"><a href="#">Browse Top 100</a></h3>
		<div class="section-content">
			<a href="/requestResultsforTop100?filter=none">All</a>
			<a href="/requestResultsforTop100?filter=audio">Audio</a>
			<a href="/requestResultsforTop100?filter=video">Video</a>
			<a href="/requestResultsforTop100?filter=applications">Applications</a>
			<a href="/requestResultsforTop100?filter=games">Games</a>
			<a href="/requestResultsforTop100?filter=others">Others</a>
		</div>
	</div>
	
{% endblock %}