{% extends "skeleton.html" %}

{% block title %}
	Welcome to something new
{% endblock %}

{% block main %}
	<form id="search-form" action="/requestResultsForValue" method="get" accept-charset="utf-8">
		<label for="value">Search For:</label><input id="search-field" type="text" name="value" value="" id="value">
		<input type="submit" value="Search">
		<div id="filter-field">
			<input type="checkbox" name="filter" value="audio" id="audio"><label for="audio">Audio</label>
			<input type="checkbox" name="filter" value="video" id="video"><label for="video">Video</label>
			<input type="checkbox" name="filter" value="applications" id="applications"><label for="applications">Applications</label>
			<input type="checkbox" name="filter" value="games" id="games"><label for="games">Games</label>
			<input type="checkbox" name="filter" value="others" id="others"><label for="others">Others</label>
		</div>
	</form>
{% endblock %}