{% extends "skeleton.html" %}

{% block title %}
	Welcome to something new
{% endblock %}

{% block main %}

	<div id="info-section" class="section startup-closed">
		<h3 class="section-title"><a href="#">What's all the buzz about?</a></h3>
		<div class="section-content">
			<p><strong>Italiano</strong></p>
			<p>Il <b>10 Agosto 2008</b> il più ampio e noto tracker di file torrent, <b>The Pirate Bay</b>, viene <b>bloccato</b> in tutta l’Italia a causa di un ordine annunciato dalla procura di Bergamo. Poichè il file sharing è sempre stato e sarà sempre una fonte fondamentale per la condivisione di contenuti multimediali e di sua natura <b>assolutamente legittima</b> ritengo che sia nostro dovere <b>riprenderci i nostri diritti</b>.</p>
			<p>The Italian Bay è la rivincita sui nostri diritti di libertà di espressione, comunicazione nonchè un autentico gesto d’amore, e sta a noi condividerla con il mondo.</p>
			<p>The Italian Bay è, in primis, un <b>mirror</b> del famigerato tracker svedese, ma è anche una miniera d’oro per i nostri sviluppatori poichè include una <b>semplicissima ed efficace API</b> per la ricerca e il download di file torrent.</p>
			<p><strong>English</strong></p>
			<p>On the <b>10th of August 2008</b> the largest and most well-known torrent tracker, <b>The Pirate Bay</b> was blocked throughout Italy because of an order announced by the prosecutor of <b>Bergamo</b>. As file sharing has always been and will always be, a source point for the sharing of multimedia content and its nature <b>absolutely legitimate</b> we feel it is our duty to <b>take back our rights</b>.</p>
			<p>The Italian Bay is our revenge on the removal of our right to freedom of expression and communication, as well as a genuine act of love. We have to share it with the world.</p>
			<p>The Italian Bay is, first and foremost, a <b>mirror</b> of the infamous Swedish tracker, but it is also a gold mine for our developers as it includes a <b>simple and effective API</b> for searching and downloading torrent files.</p>
		</div>
	</div>

	<div id="search-section" class="section">
		<h3 class="section-title"><a href="#">Search</a></h3>
		<div class="section-content">
			<form id="search-form" action="/" method="post" accept-charset="utf-8">
				<input type="hidden" name="method" value="RequestResultsForValueHandler" id="method">
				<label for="value">Search For:</label><input id="search-field" type="text" name="value" value="" autofocus="autofocus">
				<input type="submit" value="Search">
				<div id="filter-field">
					<input type="checkbox" name="filter" value="audio" id="audio"><label for="audio">Audio</label>
					<input type="checkbox" name="filter" value="video" id="video"><label for="video">Video</label>
					<input type="checkbox" name="filter" value="applications" id="applications"><label for="applications">Applications</label>
					<input type="checkbox" name="filter" value="games" id="games"><label for="games">Games</label>
					<input type="checkbox" name="filter" value="others" id="others"><label for="others">Others</label>
				</div>
			</form>
		</div>
	</div>
	
	<div id="top-100-section" class="section">
		<h3 class="section-title"><a href="#">Browse Top 100</a></h3>
		<div class="section-content">
			<a href="/top/">All</a>
			<a href="/top/f/audio/">Audio</a>
			<a href="/top/f/video/">Video</a>
			<a href="/top/f/applications/">Applications</a>
			<a href="/top/f/games/">Games</a>
			<a href="/top/f/others/">Others</a>
			<br />			
			<a href="/top/f/movies/">Movies</a>
			<a href="/top/f/hdmovies/">HD Movies</a>
			<a href="/top/f/tv/">TV Shows</a>
			<a href="/top/f/hdtv/">HD TV Shows</a>
		</div>
	</div>
	
{% endblock %}
